<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Utilitarios.SACC.Properties.Settings.cessa_bdsaccConnectionString"
            connectionString="server=localhost;user id=cessa;password=C3ss4Tv2015;database=cessa_bdsacc;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>