<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Utilitarios.SACC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
      <add key="SmtpServer" value="mail.cessa.com.bo" />
      <add key="SmtpPort" value="25" />
      <add key="SenderEmail" value="tiketero@cessa.com.bo" />
      <add key="SenderPassword" value="Passw0rd123" />
      <add key="ReceiverEmail" value="dcarvallo@cessa.com.bo"/>
    </appSettings>
    <connectionStrings>
        <add name="Utilitarios.SACC.Properties.Settings.cessa_bdsaccConnectionString"
            connectionString="server=192.168.3.25;user id=cessa;password=C3ss4Tv2015;database=cessa_bdsacc;persistsecurityinfo=True;Convert Zero Datetime=true"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <userSettings>
        <Utilitarios.SACC.Properties.Settings>
            <setting name="Valor" serializeAs="String">
                <value>Prueba</value>
            </setting>
        </Utilitarios.SACC.Properties.Settings>
    </userSettings>
</configuration>